.slides {
    padding: 0;
    list-style-type: none;
    margin: 0;
    height: 350px;
}

.left,
.right {
    position: absolute;
    top: 297px;
    height: 50px;
    background: rgba(54, 54, 54, 0.5);
    cursor: pointer;
    padding: 12px 17px;

    transition: 0.3s all ease;
}

.left:hover,
.left:focus,
.right:hover,
.right:focus {
    background: rgba(47, 47, 47, 0.85);

    transition: 0.3s all ease;
}

.left {
    left: 0;
}

.right {
    right: 0;
}


@media screen and (max-width: 450px) {
    .slides {
        height: 250px;
    }

    .left,
    .right {
        top: 197px;
    }
}