.tech-stack {
    position: relative;

    margin:  4rem 0 7rem;
    opacity: 1;
    transform: translateX(0);

    transition: opacity 0.4s ease-in, transform 0.8s ease-in-out;
}

.opac {
    opacity: 0;
    transform: translateX(-100%);
}

.tech-stack__item {
    margin: 10px 0;
    display:  flex;
    justify-content: center;
    position: relative;
}

.stack-title {
    margin:  0;
    /* background: #718ebb; */
    background: #372574;
    /* background: #a286fe; */
    /* background: #6f6f6f; */
    color: white;
    padding: 5px 0;
    width: 115px;
}
.stack-box {
    /* background: #93abcf61; */
    background: rgba(202,202,202,.8);
    height:  35px;
    width: 400px;
    position:  relative;
    overflow:  hidden;
}

.rating {
    position:  absolute;
    top: 0;
    bottom:  0;
    left:  -1px;
    /* background:  #93abce;
    background: #57419f;
    background: #2fffad; */
    /* background: linear-gradient(30deg, rgba(83, 61, 154, 0.8), rgba(70, 255, 249,.75)); */
    /* background: linear-gradient(30deg, #2b00b8b0, #a981fe 60%); */
    background: #a981fe;
    height: 35px;
    clip-path: polygon(0 100%, 0% 0%, 100% 0%, 98% 100%);

    transition: width 0.8s 0.5s ease-in-out;
}

@supports (background: linear-gradient(30deg, #2b00b8b0, #a981fe 60%)) {
    .rating {
        background: linear-gradient(30deg, #2b00b8b0, #a981fe 60%);
    }
}

.rating--js {
    width: 80%;
    /* background: #fed74b; */
}

.rating--react {
    width: 70%;
    /* background: #61dafb; */
}

.rating--html {
    width: 80%;
}

.rating--css {
    width: 80%;
}

.rating--ruby {
    width: 60%;
}

.rating--node {
    width: 70%;
}

.rating--vue {
    width: 60%;
    /* background: #4fc08d; */
}

.hidden {
    width: 0;
}

.percent {
    margin:  0;
    padding: 8px 10px;
    letter-spacing: 1px;
    font-weight: 900;
}

@media screen and (max-width: 600px) {
    .tech-stack {
        margin: 3rem 1rem;
    }

    .stack-title {
        padding-top: 10px;
        width: 90px;
        
        font-size: 16px;
        line-height: 1;
    }

    .stack-box {
        width: calc(100% - 90px);
    }

    .percent {
        position: absolute;
        padding: 11px 0;
        right: 5px;

        font-size: 12px;
    }
}

@media screen and (max-width: 500px) {

    .stack-title {
        width: 80px;
        
        font-size: 14px;
    }

    .stack-box {
        width: calc(100% - 80px);
    }
}




#tech-stack {
    min-height: 430px;
    margin: 2em auto 7em;

    max-width: 320px;
}
.about-content {
    margin-top: 32px;
}

.skill {
    position:  absolute;
}
h3.skill {
    font-size:  38px;
    font-weight:  bold;
}
h4.skill {
    font-size:  30px;
    font-weight:  normal;
}
h5.skill {
    font-size: 19px;
    font-weight:  lighter;
}

.skill--1 {
    left: 150px;
    top: 90px;
}
.skill--2 {
    left: 45px;
    top: 220px;
}
.skill--3 {
    left: 250px;
    top: 285px;
}
.skill--4 {
    top: -40px;
    left: 150px;
}
.skill--5 {
    top: -30px;
    left: 0px;
}
.skill--6 {
    top: 80px;
    left: 0px;
}
.skill--7 {
    top: -70px;
    left: 210px;
}
.skill--8 {
    top: 125px;
    left: 60px;
}
.skill--9 {
    top: 300px;
    left: 35px;
}
.skill--10 {
    top: 10px;
    left: 25px;
}
.skill--11 {
    top: 170px;
    left: 0px;
}
.skill--12 {
    top: 70px;
    left: 220px;
}
.skill--13 {
    top: 170px;
    left: 205px;
}
.skill--14 {
    top: 7px;
    left: 150px;
}
.skill--15 {
    top: 320px;
    left: 205px;
}
.skill--16 {
    top: 365px;
    left: 100px;
}
.skill--17 {
    top: 230px;
    left: 180px;
}
.skill--18 {
    top: 0;
    left: 260px;
}
.skill--19 {
    top: 50px;
    left: 190px;
}
.skill--20 {
    top: 140px;
    left: 250px;
}
.skill--21 {
    top: 280px;
    left: 0px;
}
.skill--22 {
    top: 80px;
    left:  90px;
}
.skill--23 {
    top: 159px;
    left: 160px;
}
.skill--24 {
    top:  220px;
    left:  150px;
}
.skill--25 {
    top: 63px;
    left: 0px;
}
.skill--26 {
    top: 350px;
    left: 50px;
}
.skill--27 {
    top: 300px;
    left: 150px;
}

@media (min-width: 550px) {

    #tech-stack {
        max-width: 550px;
    }
    .skill--1 {
        left: 330px;
        top: 90px;
    }
    .skill--3 {
        left: 480px;
        top: 250px;
    }
    .skill--5 {
        top: 0;
        left: 380px;
    }
    .skill--6 {
        top: 60px;
        left: 375px;
    }
    .skill--7 {
        top: -55px;
        left: 440px;
    }
    .skill--14 {
        top: 150px;
        left: 380px;
    }
    .skill--15 {
        top: 300px;
        left: 465px;
    }
    .skill--16 {
        top: 330px;
        left: 300px;
    }
    .skill--17 {
        top: 230px;
        left: 250px;
    }
    .skill--21 {
        top: 280px;
        left: 380px;
    }
    .skill--23 {
        top: 200px;
        left: 400px;
    }
    .skill--25 {
        top: 63px;
        left: 470px;
    }
}
@media (min-width: 767px) {

    #tech-stack {
        max-width: 767px;
    }
    .skill--3 {
        left: 500px;
        top: 250px;
    }
    .skill--6 {
        top: 60px;
        left: 665px;
    }
    .skill--7 {
        top:  -20px;
        left: 575px;
    }
    .skill--11 {
        top: 115px;
        left: 530px;
    }
    .skill--13 {
        top: 230px;
        left: 650px;
    }
    .skill--14 {
        top: 180px;
        left: 520px;
    }
    .skill--15 {
        top: 300px;
        left: 540px;
    }
    .skill--19 {
        top: 100px;
        left: 590px;
    }
    .skill--26 {
        top:  300px;
        left:  650px;
    }
}
@media (min-width: 1000px) {

    #tech-stack {
        max-width: 1000px;
    }
    .skill--1 {
        left: 480px;
        top: 90px;
    }
    .skill--2 {
        left: 245px;
        top: 200px;
    }
    .skill--3 {
        left: 800px;
        top: 150px;
    }
    .skill--4 {
        top: 10px;
        left: 930px;
    }
    .skill--6 {
        top:  60px;
        left: 700px;
    }
    .skill--11 {
        top: -50px;
        left: 830px;
    }
    .skill--15 {
        top: 250px;
        left: 900px;
    }
    .skill--17 {
        top: 350px;
        left: 750px;
    }
    .skill--19 {
        top: 100px;
        left: 890px;
    }
    .skill--25 {
        top: 0;
        left:  870px;
    }
}

@media (min-width: 1200px) {

    #tech-stack {
        max-width: 1200px;
    }
    .skill--2 {
        left: 300px;
        top: 200px;
    }
    .skill--4 {
        top: 10px;
        left: 1000px;
    }   
    .skill--8 {
        top: 125px;
        left: 80px;
    }
    .skill--9 {
        top: 300px;
        left: 70px;
    }
    .skill--10 {
        top:  10px;
        left: 50px;
    }
    .skill--11 {
        top: -50px;
        left: 1030px;
    }
    .skill--13 {
        top:  130px;
        left: 1050px;
    }
    .skill--19 {
        top: 100px;
        left: 950px;
    }
    .skill--20 {
        top:  120px;
        left: 340px;
    }
    .skill--23 {
        top:  200px;
        left:  1000px;
    }
    .skill--24 {
        top:  220px;
        left:  150px;
    }
    .skill--27 {
        top:  320px;
        left:  1000px;
    }
}