@import url(./reset.css);

body {
    font-family: 'Montserrat', sans-serif;
}

h3, h4, h5, h6 {
    font-family: 'Poiret One', cursive;
}

a {
    text-decoration: none;
    color: inherit;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


/* .proj-thmbs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 10px;
} */

/* .proj-thmb__img-wrap {
    width: 100%;
}

.proj-thmb__img {
    max-width: 100%;
}

.proj-thmb__container {
    width: calc(50% - 5px);    
    position: relative;
}

.proj-thmb__title {
    position: absolute;
    top: 0;
    left: 15px;
    color: white;
    font-size: 26px;
}

.proj-thmb__subheading {
    position: absolute;
    top: 50px;
    left: 15px;
    right: 15px;
    color: beige;
    text-align: justify;
} */