.slide {    
    position: absolute;
    top: 0;
    width: 100%;
}

.slide.active {    
    transition: 0.5s all ease;
}

.slide.prev {    
    transform: translateX(-100%);
    transition: 0.5s all ease;
}

.slide.next {    
    transform: translateX(100%);
    transition: 0.5s all ease;
}

.slide.on-left {    
    transform: translateX(-100%);
}

.slide.on-right {    
    transform: translateX(100%);
}