.banner-title {
    font-size: 32px;
    font-weight: 500;
}

.banner-title.hidden {
    display: none;
}

.banner-title.visible {
    display: block;
}

.banner-title.visible.bg {
    /* background: red; */
}

.home-banner {
    position: absolute;
    top: calc(50vh - 180px);
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
}

/* .inner {
    position: relative;
}

.inner::before {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-bottom: 3px solid #27ffa6;
}

.inner::after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-bottom: 3px solid white;
}

.inner.attention::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    right: 0;
    width: 100%;
    
    transition: width .5s;
}

.inner.attention::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    right: 0;
    width: 100%;

    transition: width .5s .5s;
} */

.banner-title.visible {
    position: relative;
}

.banner-title.visible::before {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-bottom: 3px solid #27ffa6;
}

.banner-title.visible::after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-bottom: 3px solid white;
}

.banner-title.visible.attention::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    right: 0;
    width: 100%;
    
    transition: width .5s;
}

.banner-title.visible.attention::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    right: 0;
    width: 100%;

    transition: width .5s .5s;
}