.banner-title.hidden {
    display: none;
}

.banner-title.visible {
    display: block;
}

.home-banner {
    position: absolute;
    top: calc(50vh - 180px);
    left: 50%;
    transform: translateX(-50%);
}