.inner {
    position: relative;
}

.banner-title {
    position: absolute;
    margin: 0 25px;
    padding: 25px;

    background: #c7d5ff;
    font-size: 32px;
    font-weight: 500;

    opacity: 0;

    transform: skew(-1deg, -4deg);
}

.banner-title.visible {
    display: block;
    position: relative;

    margin: 25px;

    opacity: 1;

    background: #28ffa6;

    transition: background-color .8s;
}

.home-banner {
    position: absolute;
    top: calc(50vh - 150px);
    left: 50%;
    transform: translateX(-50%);
}