.nav-list {
    padding: 0;
    list-style-type: none;

    display: flex;
    flex-direction: row;
}

.nav-item a {
    font-weight: 700;

    cursor: pointer;
}

#root {
    overflow: hidden;
}

#menu-toggle {
    width: 35px;
    height: 35px;
    position: relative;
    margin-top: 5px;
    /* cursor: pointer; */

    transition: .25s ease-in-out;
}
#menu-toggle::before {
    background: #28ffa6;
    border-radius: 50%;
    position: absolute;
    content: '';
    /* right: -106px;
    top: -70px; */
    right: -20px;
    top: 0;
    /* height: 250px; */
    /* width: 250px; */
    z-index: 1;
    width: 1px;
    height: 1px;
    transform: scale(1);
    transition: transform .6s ease-in;
}
#menu-toggle.open::before {
    /* background: peru; */
    /* border-radius: 50%; */
    position: absolute;
    content: '';
    /* right: -106px; */
    /* top: -70px; */
    /* height: 250px;
    width: 250px; */
    z-index: 1;

    transform: scale(350);
    transition: transform .6s ease-in;
}
#menu-toggle #hamburger {
    position:absolute;
    height:100%;
    width:100%;
    z-index: 2;

    cursor: pointer;
}
#menu-toggle #hamburger span {
    width: 30px;
    height: 2px;
    position: relative;
    top: 0;
    left: 2.5px;
    margin: 7px 0;

    display: block;
    background: #000;
    border-radius: 1px;

}
#menu-toggle #hamburger span:nth-child(1){
    transition: width .25s ease-in-out .5s;
}
#menu-toggle #hamburger span:nth-child(2){
    transition: width .25s ease-in-out .625s;
}
#menu-toggle #hamburger span:nth-child(3){
    transition: width .25s ease-in-out .75s;
}
#menu-toggle #cross {
    position:absolute;
    height: 35px;
    width: 35px;
    transform:rotate(45deg);
    z-index: 2;

    cursor: pointer;
}
#menu-toggle #cross span {
    display: block;
    background: #000;
    border-radius: 1px;
}
#menu-toggle #cross span:nth-child(1){
    height: 1px;
    width: 2px;
    position: absolute;
    top: 1px;
    left: 17px;

    opacity: 0;
    transform: scaleY(1);
    transform-origin: top;

    transition: transform .25s ease-in-out 0s, opacity 0s .25s;
}
#menu-toggle #cross span:nth-child(2){
    height: 2px;
    width: 1px;
    position: absolute;
    left: 1px;
    top: 17px;

    opacity: 0;
    transform: scaleX(1);
    transform-origin: left;
    
    transition: transform .25s ease-in-out .25s, opacity 0s .5s;
}
#menu-toggle.open #hamburger span {
    width: 0;
    
}
#menu-toggle.open #hamburger span:nth-child(1){    
    transition: width .25s ease-in-out 0s;
}
#menu-toggle.open #hamburger span:nth-child(2){    
    transition: width .25s ease-in-out .125s;
}
#menu-toggle.open #hamburger span:nth-child(3){    
    transition: width .25s ease-in-out .25s;
}
#menu-toggle.open #cross span:nth-child(1){
    opacity: 1;
    transform: scaleY(34);
    transform-origin: top;
    
    transition: transform .25s ease-in-out .625s, opacity 0s .625s;
}
#menu-toggle.open #cross span:nth-child(2){
    opacity: 1;
    transform: scaleX(34);
    transform-origin: left;
    
    transition: transform .25s ease-in-out .375s, opacity 0s .375s;
}    

@media screen and (max-width: 600px) {
    .nav-list {
        opacity: 0;
        margin: 0;
        position: absolute;
        right: 0;
        top: 80px;
        
        flex-direction: column;

        transition: opacity .3s ease .6s;
    }
    .nav-list.show {
        opacity: 1;
        z-index: 1;

        margin-right: 15px;

        transition: opacity .3s ease .6s;
    }
    .nav-item {
        position: relative;
        height: 42px;
    }    

    .nav-item a {
        display: flex;
        justify-content: flex-end;

        position: absolute;
        right: 0;
        margin: 8px 0;
        padding: 2px 0;

        color: #fff;

        letter-spacing: 1px;
    }

    .nav-item a:before {
        position: absolute;
        content: '';
        bottom: 0;
        right: 0;
        top: 0;
        border-bottom: 1px solid #000c;

        width: 1%;

        opacity: 0;
        transform-origin: right;
        transition: width .3s ease-in-out, opacity 0s .3s;
    }

    .nav-item a:hover:before {
        opacity: 1;
        /* transform: scaleX(80); */
        /* transform-origin: right; */
        width: 80%;
        transition: width .3s ease-in-out;
    }
}

@media screen and (min-width: 601px) {
    #menu-toggle {
        display: none;
    }

    .nav-list {
        margin: 17px 0 10px;
    }

    .nav-item {
        margin-top: 3px;
    }
    .nav-item a {
        color: #8f8f8f;
        letter-spacing: 1px;
        
        position: relative;
        padding: 0 0 2px;
        margin: 8px 15px;
    }

    .nav-item a::before {
        content: '';
        position: absolute;
        border-bottom: 1px solid #28ffa6;
        bottom: 0;
        left: 50%;
        width: 1%;
        opacity: 0;
        transform: translateX(-50%);

        transition: width 0.35s ease-out, opacity 0s .45s; 
    }

    .nav-item a:hover::before {
        opacity: 1;
        /* transform: scaleX(80); */
        width: 80%;
        transition: width 0.45s ease-out, opacity 0s; 
    }
}