.nav-list {
    padding: 0;
    list-style-type: none;

    display: flex;
    flex-direction: row;
    /* justify-content: space-between;
    width: 250px; */
}

.nav-item a {
    background: none;
    border: 0;
    box-sizing: border-box;
    /* margin: 1em; */
    padding: 8px 15px;
  
    box-shadow: inset 0 0 0 2px transparent;
    color: #948da1;
    font-size: inherit;
    font-weight: 700;

    position: relative;
    vertical-align: middle;

    /* transition: color 0.25s; */
}

.nav-item a::before,
.nav-item a::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.nav-item a {
    transition: color 0.25s;    
}
.nav-item a::before,
.nav-item a::after {
/* // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts */
    border: 2px solid transparent;
    width: 0;
    height: 0;
}
/* // This covers the top & right borders (expands right, then down) */
.nav-item a::before {
    top: 0;
    left: 0;
}

/* // And this the bottom & left borders (expands left, then up) */
.nav-item a::after {
    top: 0;
    left: 0;
}
/* // Hover styles */
.nav-item a:hover::before,
.nav-item a:hover::after {
    width: 100%;
    height: 100%;
}
.nav-item a:hover::before {
    /* border-top-color: #cb68fd;
    border-right-color: #a087fe; */
    border-top-color: #9eb9ff;
    border-right-color: #5e8bff;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s; 
}
.nav-item a:hover::after {
    /* border-bottom-color: #aa80fd;
    border-left-color: #db5cfd; */
    border-bottom-color: #7fa3ff;
    border-left-color: #afc5ff;
    transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}