.banner {
    height: calc(100vh - 91px);

    background: url('../../Assets/img/banner.jpg');
    background-size: cover;
    background-position: top center;
    border-bottom: 2px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

#banner-filter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}
/* 
.banner {
    position: relative;
} */

.banner::before {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-top: 2px solid #9eb9ff;
}

.banner::after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-top: 2px solid white;
}

.banner.border::before {
    content: '';
    position: absolute;
    left: 0;
    top: -3px;
    right: 0;
    bottom: 0;
    width: 100%;
    
    transition: width .5s;
}

.banner.border::after {
    content: '';
    position: absolute;
    left: 0;
    top: -3px;
    bottom: 0;
    right: 0;
    width: 100%;

    transition: width .5s .5s;
}